.Features{
    display: flex;
    align-items: center;
    line-height: 0.2;
    cursor: pointer;
    padding:3px;
}

.Features:hover{
    background: #422D4A; 
    border-radius: 10px;
}

.Features>p{
    margin-left:0.5rem;
}